# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# Flask instance folder
instance/

# Node.js modules
frontend/node_modules/

# SQLite database
*.db

# Log files
*.log
